@import "./theme/macchiato.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  border: none;
  font-size: 15px;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 10px;
}
.modules-right {
  border: 1px solid lighter(@active);
  border: 1px solid @active;
  border-radius: 15px;
  padding: 0px 5px;
  margin: 2px 5px;
  background: rgba(000, 000, 000, 0.8);
}

.modules-left {
  border: 1px solid lighter(@active);
  border: 1px solid @active;
  padding: 0px 5px;
  border-radius: 15px;
  margin: 2px 5px;
  background: rgba(000, 000, 000, 0.8);
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-updates,
#custom-pacman,
#bluetooth,
#pulseaudio,
#custom-hotspot,
#pulseaudio.mic,
#pulseaudio.bluetooth,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
/* #workspaces, */
#clock {
  padding: 0 5px;
}
