hypr/images/404-error-dark-3840x2160-18294.png filter=lfs diff=lfs merge=lfs -text
hypr/images/Arch-chan_to.png filter=lfs diff=lfs merge=lfs -text
hypr/images/default.jpg filter=lfs diff=lfs merge=lfs -text
hypr/images/Lofi-Urban-Nightscape.png filter=lfs diff=lfs merge=lfs -text
